/* Mobile */
#login-mask{
    background-color: #ff8000;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1031;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#key {
    width: 50vw;
    cursor: pointer;
}

.navigation{
    margin-bottom: 1rem;
}

.navbar-light .navbar-toggler{
    border-color: rgba(0,0,0,0.5);
}

.nav {
    flex-flow: column;
}

#dispose, #month, #stats{
    height: 100vh;
    margin: 4rem 0;
    padding: 1rem .5rem;
}

.disposal-panel {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows   : 1fr 1fr;
    height               : 100vw;
}

.disposal-panel>div {
    display        : flex;
    justify-content: center;
    flex-direction : column;
    text-align     : center;
    margin         : .5rem;
}

.disposal-panel>div>.btn {
    height: 100%;
}


.dispose-rubish {
    grid-column: 1 / 2;
    grid-row   : 1 / 2;
}

.dispose-paper {
    grid-column: 2 / 3;
    grid-row   : 1 / 2;
}

.dispose-glass {
    grid-column: 1 / 2;
    grid-row   : 2 / 3;
}

.dispose-alu {
    grid-column: 2 / 3;
    grid-row   : 2 / 3;
}

.rubish-button {
    background-color: red;
}

.paper-button {
    background-color: lightskyblue;

}

.glass-button {
    background-color: yellow;
}

.alu-button {
    background-color: lightgrey;

}

/* Desktop */
@media (min-width: 768px) {
    .nav {
        flex-flow: inherit;
    }
}